.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

/* side 바 전체 */
.dndflow aside {
  font-size: 12px;
}

/* tab바 */
.dndflow aside .tab {
  width: 18%;
  height: 65%;
  float: left;
  background-color: 4e5058;
}

.dndflow aside .tab_image_selected {
  width: 64%;
  margin-left: 18%;
  margin-top: 30%;
  background-color: lightgrey;
  padding-right: 10%;
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left:10%;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
  border-top-right-radius: -15%;
  border-bottom-right-radius: -15%;
}
.dndflow aside .tab_image {
  width: 64%;
  margin-left: 18%;
  margin-top: 30%;
}

/* Layer 문구 */
.dndflow aside .tab_title {
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding-left: 15px;
}

/* 노드 컴포넌트 */
.dndflow .dndnode {
  height: 30px;
  padding: 4px;
  border-radius: 2px;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 18%;
  margin-right: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.2);
}

.dndflow .dndnode.Convolutional {
  background-color: #f2e3dc;
}

.dndflow .dndnode.Pooling {
  background-color: #faf1cb;
}

.dndflow .dndnode.Activiation {
  background-color: #d9e3e8;
}

.dndflow .dndnode.Normalization {
  background-color: #dee8e4;
}

/* Layer 이름 text*/
.dndflow .layer_name {
  font-size: 18px;
  padding-left: 25px;
}
/* Layer 목록 박스 */
.dndflow aside .layer_list {
  width: 82%;
  height: 65%;
  float: left;
  background-color: lightgrey;
  overflow-y: scroll;
  scrollbar-width: 10px;
}

/* 토글 사이 간격 띄우기 */
details > summary {
  margin-top: 4%;
}

/* Layer Info 박스 */
.dndflow aside .layer_info {
  width: 100%;
  height: 35%;
  float: left;
  background-color: #4e5058;
}

/* Layer Information 텍스트 */
.dndflow .layer_info_title {
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  font-weight: bold;
  color: white;
}

.dndflow .reactflow-wrapper {
  left: 500px;
  flex-grow: 1;
  height: 98vh;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 250px) {
  .dndflow {
    font-family: sans-serif;
    flex-direction: row-reverse;
  }

  .dndflow aside {
    background-color: #4e5058;
    width: 25%;
    max-width: 400px;
  }
}
